<app-search></app-search>
<ul>
    <li *ngFor="let donut of donuts">
        <a routerLink="/food/{{donut.id}}">
            <img [src]="donut.imageUrl" [alt]="donut.name"/>
            <div class="content">
                <div class="name">
                    {{donut.name}}
                </div>
                <span class="favorite {{donut.favorite?'':'not'}}">
                    ❤
                </span>
                <div class="stars">
                    <star-rating [stars]="donut.stars" />
                </div>
                <div class="product-item-footer">
                    <div class="price">
                        <span>
                            {{donut.price | currency}}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>